<html>
    <head>
        <title>Forbidden Lands - The Bitter Reach - Weather Generator</title>
        <link href="/bitter-reach/weather/styles.css" rel="stylesheet">
    </head>
    <body class="p-5">
        {% block content %}{% endblock %}
    </body>
</html>