<html>
    <head>
        <title>Forbidden Lands - The Bitter Reach - Weather Generator</title>
    </head>
    <body>
        <h1>Forbidden Lands Generator</h1>
        <h2>Weather - The Bitter Reach</h2>
        <p>A weather generator for "The Bitter Reach" expansion to the Forbidden Lands tabletop role playing game</p>
        {% block content %}{% endblock %}
    </body>
</html>