{% extends "templates/page.njk" %}
        
{% block content %}
    <p>Click the link below to generate weather based on the table on p31 of The Bitter Reach campaign book.</p>
    <a href="/weather/result">Generate</a>
{% endblock %}